<p style="color: green"><%= notice %></p>

<h1>Productos</h1>
<%= link_to "New producto", new_producto_path %>
<hr>

<div id="productos">
  <% @productos.each do |producto| %>
    <%= render producto %>
    <p>
      <%= link_to "Show this producto", producto %>
    </p>
  <% end %>
</div>
<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

